<!-- Interests Section -->
    <section id="Interests">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Current Interests</h2>
                    <h3 class="section-subheading text-muted">Want to learn Android and Kotlin.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa  fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Android</h4>
                    <p class="text-muted">Know how to create apps but not extremely good at it.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa  fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse">
			<img src="https://cdn.iconscout.com/icon/free/png-256/kotlin-2038873-1720086.png" height=50px width=50px>
			</i>
                    </span>
                    <h4 class="service-heading">Kotlin</h4>
                    <p class="text-muted">Tried it once or twice, and wish to learn.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa  fa-stack-2x text-primary"></i>
                        <i class="fab fa-java fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Java</h4>
                    <p class="text-muted">Started liking programming when this came by.</p>
                </div>
            </div>
        </div>
    </section>